body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(138, 43, 226);
   background-image: url('https://picsum.photos/1350/');
}
header{
    width: 100vw;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    height: 10vh;
}
#display{
   background-color: rgba(231, 225, 236, 0.575);
    width: 70vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
   
}

#add-btn{
    max-width: 20%;
    margin-top: .5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: aqua;
}
#add-btn:hover{
    background-color: green;
    color:white;
}
#user-input{
    max-width: 40%;
    height: 2rem;
    border-radius: 5px;
}
.tasks{
    box-sizing: border-box;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-radius: 5px;
    border: 1px solid black;
}
.taskName{
    min-width: 60%;
    text-align: center;
}
.removeBtn{
    background-color: red;
   
    border: none;
    color: white;
    border-radius: 5px;
    height: 2rem;
}
.completeBtn{
    
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    height: 2rem;
}
footer{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
@media screen and (max-width: 1000px) {
    body{
        background-color: aliceblue;
        background-size: contain;
    }
    header{
        width: 100vw;
    }
    #display{
        width: 85vw;
    }
    .taskName{
        width: fit-content;
        word-wrap: break-word;
        
    }
    .tasks{
        width:100%;
        display: flex;
        justify-content: center;
    }
  }